# School DataFrame

#### Version: 3
#### Creation Date: 2/5/21
#### File Names Generated: school_df_v3.csv

#### Updates from previous version:
* Adds in calculated attendance percent metrics

#### Notes:
* new column names listed as **bold** below

---

COLUMN NAMES:
* 'attnd_absence_1-5_SY1718', 
* 'attnd_absence_1-5_SY1819',
* 'attnd_absence_11-20_SY1718', 
* 'attnd_absence_11-20_SY1819',
* 'attnd_absence_20+_SY1718', 
* 'attnd_absence_20+_SY1819',
* 'attnd_absence_6-10_SY1718', 
* 'attnd_absence_6-10_SY1819',
* 'attnd_count_truancy_aged_students_SY1718',
* 'attnd_count_truancy_aged_students_SY1819', 
* **'pct_of_absences_1-5_SY1718',** 
* **'pct_of_absences_1-5_SY1819',**
* **'pct_of_absences_11-20_SY1718',** 
* **'pct_of_absences_11-20_SY1819',**
* **'pct_of_absences_20+_SY1718',** 
* **'pct_of_absences_20+_SY1819',**
* **'pct_of_absences_6-10_SY1718',** 
* **'pct_of_absences_6-10_SY1819',**
* **'pct_of_student_absences_1-5_SY1718',**
* **'pct_of_student_absences_1-5_SY1819',**
* **'pct_of_student_absences_11-20_SY1718',**
* **'pct_of_student_absences_11-20_SY1819',**
* **'pct_of_student_absences_20+_SY1718',**
* **'pct_of_student_absences_20+_SY1819',**
* **'pct_of_student_absences_6-10_SY1718',**
* **'pct_of_student_absences_6-10_SY1819',**
* 'school_budgeted_amount_FY16',
* 'school_budgeted_amount_FY17',
* 'school_budgeted_enrollment_FY16',
* 'school_budgeted_enrollment_FY17',
* 'school_capacity_SY1718',
* 'school_capacity_SY1819', 
* 'school_cluster', 
* 'school_code',
* 'school_enrollment_SY1718', 
* 'school_enrollment_SY1819',
* 'school_grade_band', 
* 'school_grade_range', 
* 'school_latitude',
* 'school_longitude', 
* 'school_name', 
* 'school_sector',
* 'school_star_rating_SY1718', 
* 'school_star_rating_SY1819',
* 'school_star_score_SY1718', 
* 'school_star_score_SY1819',
* 'school_unfilled_seats_SY1718', 
* 'school_unfilled_seats_SY1819',
* 'school_ward'
* **'students_with_absences_SY1718'**
* **'students_with_absences_SY1819'**

---

<br><Br>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
data = pd.read_excel('../../01_data/cleaned_data/school_df_v2.xlsx')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 33 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   school_sector                             116 non-null    object
 1   school_code                               116 non-null    int64
 2   school_name                               116 non-null    object
 3   school_grade_range                        116 non-null    object
 4   school_enrollment_SY1819                  116 non-null    float64
 5   school_star_score_SY1819                  109 non-null    float64
 6   school_star_rating_SY1819                 109 non-null    float64
 7   school_capacity_SY1819                    108 non-null    float64
 8   school_unfilled_seats_SY1819              108 non-null    float64
 9   school_latitude                           116 non-null    float64
 10  school_longitude                          116 non-null    float64
 11  school_cluster                            116 non-null    object
 12  school_ward                               116 non-null    object
 13  school_grade_band                         112 non-null    object
 14  school_enrollment_SY1718                  115 non-null    float64
 15  school_star_score_SY1718                  108 non-null    float64
 16  school_star_rating_SY1718                 108 non-null    float64
 17  school_capacity_SY1718                    107 non-null    float64
 18  school_unfilled_seats_SY1718              107 non-null    float64
 19  attnd_count_truancy_aged_students_SY1819  112 non-null    object
 20  attnd_absence_1-5_SY1819                  112 non-null    object
 21  attnd_absence_6-10_SY1819                 112 non-null    object
 22  attnd_absence_11-20_SY1819                112 non-null    object
 23  attnd_absence_20+_SY1819                  107 non-null    object
 24  attnd_count_truancy_aged_students_SY1718  112 non-null    float64
 25  attnd_absence_1-5_SY1718                  112 non-null    object
 26  attnd_absence_6-10_SY1718                 112 non-null    object
 27  attnd_absence_11-20_SY1718                112 non-null    object
 28  attnd_absence_20+_SY1718                  112 non-null    object
 29  school_budgeted_amount_FY16               110 non-null    float64
 30  school_budgeted_enrollment_FY16           110 non-null    float64
 31  school_budgeted_amount_FY17               112 non-null    float64
 32  school_budgeted_enrollment_FY17           112 non-null    float64
dtypes: float64(17), int64(1), object(15)
memory usage: 30.0+ KB

In [4]:
data.head()

,school_sector,school_code,school_name,school_grade_range,school_enrollment_SY1819,school_star_score_SY1819,school_star_rating_SY1819,school_capacity_SY1819,school_unfilled_seats_SY1819,school_latitude,...,attnd_absence_20+_SY1819,attnd_count_truancy_aged_students_SY1718,attnd_absence_1-5_SY1718,attnd_absence_6-10_SY1718,attnd_absence_11-20_SY1718,attnd_absence_20+_SY1718,school_budgeted_amount_FY16,school_budgeted_enrollment_FY16,school_budgeted_amount_FY17,school_budgeted_enrollment_FY17
0,DCPS,202,Aiton Elementary School,PK3-5th,244.0,10.79,1.0,529.0,285.0,38.897002,...,21,190.0,74,58,33,12,7.429920e+06,2650.0,3780814.0,2499672.0
1,DCPS,203,Amidon-Bowen Elementary School,PK3-5th,339.0,48.54,3.0,400.0,61.0,38.879515,...,10,309.0,149,98,36,12,8.979878e+06,3660.0,4533018.0,3020358.0
2,DCPS,450,Anacostia High School,9th-12th,296.0,3.68,1.0,837.0,541.0,38.870084,...,221,396.0,31,40,59,262,1.853702e+07,6360.0,9238855.0,4694247.0
3,DCPS,452,Ballou High School,9th-12th,650.0,4.83,1.0,NaN,NaN,38.838512,...,518,933.0,53,102,207,556,2.187321e+07,8180.0,12748461.0,6860942.0
4,DCPS,462,Ballou STAY,Adult,524.0,NaN,NaN,NaN,NaN,38.838512,...,147,138.0,<10,<10,<10,128,5.708080e+06,4850.0,3570862.0,3183315.0

<br>

### Generate capacity percent filled of school SY1819

In [5]:
data['school_capacity_pct_SY1819']=data['school_enrollment_SY1819']/data['school_capacity_SY1819']

<br>

### Generate capacity percent filled of school SY1718

In [6]:
data['school_capacity_pct_SY1718']=data['school_enrollment_SY1718']/data['school_capacity_SY1718']

<br>

### Cast student absence count of <10 to 5 across dataframe

In [7]:
# Decision: values of <10 were reassigned as 5
data.replace(to_replace='n<10',value=5, inplace=True)
data.replace(to_replace='<10',value=5, inplace=True)

<br>

### Generate count of students with absences SY1819

In [8]:
data[['attnd_absence_1-5_SY1819','attnd_absence_6-10_SY1819','attnd_absence_11-20_SY1819','attnd_absence_20+_SY1819']] = data[['attnd_absence_1-5_SY1819','attnd_absence_6-10_SY1819','attnd_absence_11-20_SY1819','attnd_absence_20+_SY1819']].apply(pd.to_numeric)

In [9]:
data['students_with_absences_SY1819'] = data['attnd_absence_1-5_SY1819'] + data['attnd_absence_6-10_SY1819'] + data['attnd_absence_11-20_SY1819'] + data['attnd_absence_20+_SY1819']

<br>

### Generate count of students with absences SY1718

In [10]:
data[['attnd_absence_1-5_SY1718','attnd_absence_6-10_SY1718','attnd_absence_11-20_SY1718','attnd_absence_20+_SY1718']] = data[['attnd_absence_1-5_SY1718','attnd_absence_6-10_SY1718','attnd_absence_11-20_SY1718','attnd_absence_20+_SY1718']].apply(pd.to_numeric)

In [11]:
data['students_with_absences_SY1718'] = data['attnd_absence_1-5_SY1718'] + data['attnd_absence_6-10_SY1718'] + data['attnd_absence_11-20_SY1718'] + data['attnd_absence_20+_SY1718']

<br>

### Generate percent of students with absences in a category against all students with absences SY1819

In [12]:
data['pct_of_absences_1-5_SY1819'] = data['attnd_absence_1-5_SY1819']/data['students_with_absences_SY1819']

In [14]:
data['pct_of_absences_6-10_SY1819'] = data['attnd_absence_6-10_SY1819']/data['students_with_absences_SY1819']

In [16]:
data['pct_of_absences_11-20_SY1819'] = data['attnd_absence_11-20_SY1819']/data['students_with_absences_SY1819']

In [18]:
data['pct_of_absences_20+_SY1819'] = data['attnd_absence_20+_SY1819']/data['students_with_absences_SY1819']

<br>

### Generate percent of students with absences in a category against all students enrolled SY1819

In [13]:
data['pct_of_student_absences_1-5_SY1819'] = data['attnd_absence_1-5_SY1819']/data['school_enrollment_SY1819']

In [15]:
data['pct_of_student_absences_6-10_SY1819'] = data['attnd_absence_6-10_SY1819']/data['school_enrollment_SY1819']

In [17]:
data['pct_of_student_absences_11-20_SY1819'] = data['attnd_absence_11-20_SY1819']/data['school_enrollment_SY1819']

In [19]:
data['pct_of_student_absences_20+_SY1819'] = data['attnd_absence_20+_SY1819']/data['school_enrollment_SY1819']

<br>

### Generate percent of students with absences in a category against all students with absences SY1718

In [22]:
data['pct_of_absences_1-5_SY1718'] = data['attnd_absence_1-5_SY1718']/data['students_with_absences_SY1718']

In [23]:
data['pct_of_absences_6-10_SY1718'] = data['attnd_absence_6-10_SY1718']/data['students_with_absences_SY1718']

In [24]:
data['pct_of_absences_11-20_SY1718'] = data['attnd_absence_11-20_SY1718']/data['students_with_absences_SY1718']

In [25]:
data['pct_of_absences_20+_SY1718'] = data['attnd_absence_20+_SY1718']/data['students_with_absences_SY1718']

<br>

### Generate percent of students with absences in a category against all students enrolled SY1718

In [26]:
data['pct_of_student_absences_1-5_SY1718'] = data['attnd_absence_1-5_SY1718']/data['school_enrollment_SY1718']

In [27]:
data['pct_of_student_absences_6-10_SY1718'] = data['attnd_absence_6-10_SY1718']/data['school_enrollment_SY1718']

In [28]:
data['pct_of_student_absences_11-20_SY1718'] = data['attnd_absence_11-20_SY1718']/data['school_enrollment_SY1718']

In [29]:
data['pct_of_student_absences_20+_SY1718'] = data['attnd_absence_20+_SY1718']/data['school_enrollment_SY1718']

In [30]:
data.head()

,school_sector,school_code,school_name,school_grade_range,school_enrollment_SY1819,school_star_score_SY1819,school_star_rating_SY1819,school_capacity_SY1819,school_unfilled_seats_SY1819,school_latitude,...,pct_of_absences_20+_SY1819,pct_of_student_absences_20+_SY1819,pct_of_absences_1-5_SY1718,pct_of_absences_6-10_SY1718,pct_of_absences_11-20_SY1718,pct_of_absences_20+_SY1718,pct_of_student_absences_1-5_SY1718,pct_of_student_absences_6-10_SY1718,pct_of_student_absences_11-20_SY1718,pct_of_student_absences_20+_SY1718
0,DCPS,202,Aiton Elementary School,PK3-5th,244.0,10.79,1.0,529.0,285.0,38.897002,...,0.113514,0.086066,0.418079,0.327684,0.186441,0.067797,0.304527,0.238683,0.135802,0.049383
1,DCPS,203,Amidon-Bowen Elementary School,PK3-5th,339.0,48.54,3.0,400.0,61.0,38.879515,...,0.037453,0.029499,0.505085,0.332203,0.122034,0.040678,0.424501,0.279202,0.102564,0.034188
2,DCPS,450,Anacostia High School,9th-12th,296.0,3.68,1.0,837.0,541.0,38.870084,...,0.653846,0.746622,0.079082,0.102041,0.150510,0.668367,0.081794,0.105541,0.155673,0.691293
3,DCPS,452,Ballou High School,9th-12th,650.0,4.83,1.0,NaN,NaN,38.838512,...,0.764012,0.796923,0.057734,0.111111,0.225490,0.605664,0.060227,0.115909,0.235227,0.631818
4,DCPS,462,Ballou STAY,Adult,524.0,NaN,NaN,NaN,NaN,38.838512,...,0.880240,0.280534,0.034965,0.034965,0.034965,0.895105,0.010101,0.010101,0.010101,0.258586

In [31]:
data.columns.sort_values()

Index(['attnd_absence_1-5_SY1718', 'attnd_absence_1-5_SY1819',
       'attnd_absence_11-20_SY1718', 'attnd_absence_11-20_SY1819',
       'attnd_absence_20+_SY1718', 'attnd_absence_20+_SY1819',
       'attnd_absence_6-10_SY1718', 'attnd_absence_6-10_SY1819',
       'attnd_count_truancy_aged_students_SY1718',
       'attnd_count_truancy_aged_students_SY1819',
       'pct_of_absences_1-5_SY1718', 'pct_of_absences_1-5_SY1819',
       'pct_of_absences_11-20_SY1718', 'pct_of_absences_11-20_SY1819',
       'pct_of_absences_20+_SY1718', 'pct_of_absences_20+_SY1819',
       'pct_of_absences_6-10_SY1718', 'pct_of_absences_6-10_SY1819',
       'pct_of_student_absences_1-5_SY1718',
       'pct_of_student_absences_1-5_SY1819',
       'pct_of_student_absences_11-20_SY1718',
       'pct_of_student_absences_11-20_SY1819',
       'pct_of_student_absences_20+_SY1718',
       'pct_of_student_absences_20+_SY1819',
       'pct_of_student_absences_6-10_SY1718',
       'pct_of_student_absences_6-10_SY1819', 'school_budgeted_amount_FY16',
       'school_budgeted_amount_FY17', 'school_budgeted_enrollment_FY16',
       'school_budgeted_enrollment_FY17', 'school_capacity_SY1718',
       'school_capacity_SY1819', 'school_capacity_pct_SY1718',
       'school_capacity_pct_SY1819', 'school_cluster', 'school_code',
       'school_enrollment_SY1718', 'school_enrollment_SY1819',
       'school_grade_band', 'school_grade_range', 'school_latitude',
       'school_longitude', 'school_name', 'school_sector',
       'school_star_rating_SY1718', 'school_star_rating_SY1819',
       'school_star_score_SY1718', 'school_star_score_SY1819',
       'school_unfilled_seats_SY1718', 'school_unfilled_seats_SY1819',
       'school_ward', 'students_with_absences_SY1718',
       'students_with_absences_SY1819'],
      dtype='object')

In [32]:
data.to_csv('../data/cleaned/school_df_v3.csv', index=False)