In [1]:
import pandas as pd

Datasets collected from:

https://edscape.dc.gov/

https://data.world/codefordc/

https://osse.dc.gov/

In [2]:
df = pd.read_csv('./data/school_df_v6.csv')

In [3]:
df.drop(columns=['Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 
                 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 
                 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 
                 'Unnamed: 54', 'Unnamed: 55',], inplace=True)
df = df.iloc[:,:45]
df.dropna(how='all', inplace=True)

In [4]:
df.shape

(109, 45)

In [5]:
df.head(1)

,code,name,grade_band,enrollment_SY1718,enrollment_SY1819,star_score_SY1718,star_score_SY1819,star_rating_SY1718,star_rating_SY1819,capacity_SY1718,...,count_20+_SY1718,pct_20+_SY1718,budgeted_amount_FY16,budgeted_enrollment_FY16,budgeted_amount_FY17,budgeted_enrollment_FY17,pct_meet_exceed_math_SY1718,pct_meet_exceed_ela_SY1718,pct_meet_exceed_math_SY1819,pct_meet_exceed_ela_SY1819
0,175.0,School-Within-School @ Goding,Elementary,308.0,313.0,88.55,88.26,5.0,5.0,444.0,...,0.0,0.0,10592800.0,5880.0,3815456.0,2674740.0,0.765,0.765,0.743,0.752

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109 entries, 0 to 108
Data columns (total 45 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   code                         109 non-null    float64
 1   name                         109 non-null    object
 2   grade_band                   109 non-null    object
 3   enrollment_SY1718            109 non-null    float64
 4   enrollment_SY1819            109 non-null    float64
 5   star_score_SY1718            109 non-null    float64
 6   star_score_SY1819            109 non-null    float64
 7   star_rating_SY1718           109 non-null    float64
 8   star_rating_SY1819           109 non-null    float64
 9   capacity_SY1718              109 non-null    float64
 10  capacity_SY1819              109 non-null    float64
 11  latitude                     109 non-null    float64
 12  longitude                    109 non-null    float64
 13  cluster                      109 non-null    float64
 14  ward                         109 non-null    float64
 15  count_any_SY1819             109 non-null    float64
 16  count_0_SY1819               109 non-null    float64
 17  pct_0_SY1819                 109 non-null    float64
 18  count_1-5_SY1819             107 non-null    float64
 19  pct_1-5_SY1819               109 non-null    float64
 20  count_6-10_SY1819            107 non-null    float64
 21  pct_6-10_SY1819              109 non-null    float64
 22  count_11-20_SY1819           107 non-null    float64
 23  pct_11-20_SY1819             109 non-null    float64
 24  count_20+_SY1819             108 non-null    float64
 25  pct_20+_SY1819               109 non-null    float64
 26  count_any_SY1718             109 non-null    float64
 27  count_0_SY1718               109 non-null    float64
 28  pct_0_SY1718                 109 non-null    float64
 29  count_1-5_SY1718             107 non-null    float64
 30  pct_1-5_SY1718               109 non-null    float64
 31  count_6-10_SY1718            107 non-null    float64
 32  pct_6-10__SY1718             109 non-null    float64
 33  count_11-20_SY1718           107 non-null    float64
 34  pct_11-20_SY1718             109 non-null    float64
 35  count_20+_SY1718             107 non-null    float64
 36  pct_20+_SY1718               109 non-null    float64
 37  budgeted_amount_FY16         109 non-null    float64
 38  budgeted_enrollment_FY16     109 non-null    float64
 39  budgeted_amount_FY17         109 non-null    float64
 40  budgeted_enrollment_FY17     109 non-null    float64
 41  pct_meet_exceed_math_SY1718  109 non-null    float64
 42  pct_meet_exceed_ela_SY1718   109 non-null    float64
 43  pct_meet_exceed_math_SY1819  109 non-null    float64
 44  pct_meet_exceed_ela_SY1819   109 non-null    float64
dtypes: float64(43), object(2)
memory usage: 39.2+ KB